.vaga-title {
  color: #5c636c;
}

.vaga-subtitle {
  color: #9b9ea0;
}

.side-menu-color {
  background: #3f51b5;
}

.white-color {
  color: #ecf0f1 !important;
}

.button-right {
  float: right;
}

.icon-color {

}

.menu-item-link {
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  display: block;
  color: inherit;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.menu-item-link .item-inner {
  padding-right: 42px;
 /*background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%2060%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'm60%2061.5-38.25%2038.25-9.75-9.75%2029.25-28.5-29.25-28.5%209.75-9.75z'%20fill%3D'%23c7c7cc'%2F%3E%3C%2Fsvg%3E");
*/
 background-size: 10px 20px;
 background-repeat: no-repeat;
 background-position: 95% center;
 background-position: -webkit-calc(100% - 16px) center;
 background-position: calc(100% - 16px) center;
}
