<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title>Vagas de Emprego</title>
  <!-- Path to Framework7 Library CSS-->
  <link rel="stylesheet" href="../assets/css/framework7.material.min.css">
  <link rel="stylesheet" href="../assets/css/framework7.material.colors.min.css">
  <!-- Path to your custom app styles-->
  <link rel="stylesheet" href="../assets/css/my-app.min.css">
  <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
</head>
<body class="theme-indigo">
  <!-- Status bar overlay for fullscreen mode-->
  <div class="statusbar-overlay"></div>
  <!-- Panels overlay-->
  <div class="panel-overlay"></div>
  <!-- Left panel with reveal effect-->
  <div class="panel panel-left panel-cover side-menu-color">
    <div class="content-block">
      <p class="white-color">Vagas de Emprego<a href="#" class="close-panel button-right"><i class="fa fa-times white-color fa-lg" aria-hidden="true"></i></a></p>
      <br>
      <div class="list-block">
        <ul>

          <li>
            <a href="#" onclick="myApp.alert('Aplicativo Criado por: Omega Inc. 2017 | Jefferson Mello Olynyki', ['Sobre']);" class="menu-item-link close-panel">
              <div class="item-content">
                <div class="item-media"><i class="fa fa-info-circle white-color" aria-hidden="true"></i></div>
                <div class="item-inner">
                  <div class="item-title white-color">Sobre</div>
                </div>
              </div>
            </a>
          </li>

        </ul>
      </div>
    </div>
  </div>

  <!-- Views-->
  <div class="views">
    <!-- Your main view, should have "view-main" class-->
    <div class="view view-main">
      <!-- Top Navbar-->
      <div class="navbar">
        <div class="navbar-inner">

          <div class="left">
            <a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a>
          </div>
          <div class="center sliding">Vagas de Emprego</div>
          <div class="right"></div>

        </div>
      </div>
      <!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
      <div class="pages navbar-through toolbar-through">
        <!-- Page, data-page contains page name-->
        <div data-page="index" class="page">
          <!-- Search Bar -->
          <form class="searchbar">
            <div class="searchbar-input">
              <input type="search" placeholder="Pesquisar">
              <a href="#" class="searchbar-clear"></a>
            </div>
            <a href="#" class="searchbar-cancel">Cancel</a>
          </form>
          <!-- Scrollable page content-->
          <div class="page-content">

            <div class="content-block-title">Bem vindo ao Aplicativo vagas de emprego</div>
            <div class="content-block">
              <p>Selecione abaixo sua cidade</p>
              <div class="list-block">
                <ul>

                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-title label">Cidade</div>
                        <div class="item-input">
                          <select id="select">
                            <script id="template" type="text/x-handlebars-template">

                              <option data-endereco="{{endeerecotel}}" data-id="{{guid}}" value="{{guid}}">{{descricao}}</option>

                            </script>
                          </select>
                        </div>
                      </div>
                    </div>
                  </li>

                </ul>
              </div>

              <div class="content-block-title" id="endereco"></div>

              <div class="content-block-title">Vagas</div>
              <div class="list-block media-list">
                <ul id="lista">

                  <script id="listar" type="text/x-handlebars-template">
                    <li>
                      <a href="#" onclick="getEndereco()" class="menu-item-link item-content">
                        <div class="item-media">
                          <img src="../assets/img/work.png" width="64" height="64"/>
                        </div>
                        <div class="item-inner">
                          <div class="item-title-row">
                            <div class="item-title vaga-title">{{qtde}} - {{descricao}}</div>
                          </div>
                          <div class="item-subtitle vaga-subtitle">Sexo: {{sexo}}</div>
                          <div class="item-subtitle vaga-subtitle"><i class="fa fa-wheelchair" aria-hidden="true"></i> Necessidade Especial : {{NS}}</div>
                        </div>
                      </a>
                    </li>
                  </script>

                </ul>
              </div>

            </div>

            <div class="content-block searchbar-not-found">
              Nenhuma vaga encontrada
            </div>

            <div id="anuncio" class="content-block">
              <div class="content-block-title">
                <h3>Anúncios</h3>
              </div>
              <script id="anuncioTemplate" type="text/x-handlebars-template">
                <img class="ads-img" src="{{ imagem }}" >
              </script>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- APP CORE -->
    <script type="text/javascript" src="../assets/js/framework7.min.js"></script>
    <script type="text/javascript" src="../assets/js/my-app.js"></script>
    <!-- VENDORS -->
    <script src="../assets/js/jquery.min.js" charset="utf-8"></script>
    <script src="../assets/js/handlebars-v4.0.5.js" charset="utf-8"></script>
    <!-- CONTROLLER -->
    <script src="../controller/Cidades/Cidades.min.js" charset="utf-8"></script>
    <script src="../controller/Vagas/Vagas.min.js" charset="utf-8"></script>
    <script src="../controller/Anuncios/Anuncio.min.js" charset="utf-8"></script>
  </body>
  </html>
